{% extends 'template.html' %}


{% block title %}
     Liste des formations
{% endblock %}
{% block content %}
<br/>

<h1 style=" margin-left:50px;">Liste des formations {{ formations.first.type }} </h1>

<br/>
{% if formations.count == 0 %}
    <div class="alert alert-danger" role="alert"  style=" text-align: center">
        <h1>Aucune formation !</h1>
</div>
    {% else %}
<div style=" margin-left:50px; display: flex; flex-direction: row; flex-wrap: wrap">

             {% for formation in  formations %}



  <div class="card" style="width: 18rem; margin: 10px">
    <img class="card-img-top" style="width: 17em; height: 17em;" src="{{ formation.logo.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ formation.titre }}</h5>
      <p class="card-text">{{ formation.type }}</p>
         <a href="http://127.0.0.1:8000/Formation/{{ formation.id }}/" class="btn btn-primary">Plus de détails</a>
    </div>
    <div class="card-footer">
        {% if formation.etat == "active" %}
      <small class="text" style="color:green;"><b>{{ formation.etat }}</b></small>
        {% else %}
         <small class="text" style="color:red;"><b>{{ formation.etat }}</b></small>
        {% endif %}
    </div>
  </div>





    
    {% endfor %}
    {% endif %}

</div>
    <br/><br/>
{% endblock %}

