<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ghazela Technology Academy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/Formations">Formations <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Types formations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://127.0.0.1:8000/Liste_formations_web">Formations Web</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/Liste_formations_mobile">Formations Mobile</a>
            <a class="dropdown-item" href="http://127.0.0.1:8000/Liste_formations_cloud">Formations Cloud</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-menu" href="#">Trier selon l'état </a>
            <a class="dropdown-item" href="http://127.0.0.1:8000/Liste_formations_mobile">état active</a>
            <a class="dropdown-item" href="http://127.0.0.1:8000/Liste_formations_mobile">état désactivé</a>
            <a class="dropdown-item" href="#">recherche de formations</a>
        </div>
      </li>
 <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/admin">Admin <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" action="{% url 'recherche' %}" method="get">
      <input class="form-control mr-sm-2" name="query" type="search" placeholder="Nom de formation" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Trouver</button>
    </form>
  </div>
</nav>